Repository GurungPrabhu/fe-optimize: changes, and which CircleCI parameters are due for each by the changed paths.
All: project-one, project-two, run-them-all=false

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/consumer/.* project-one true
            packages/owner/.* project-two true
            (?!packages/consumer/.*|packages/owner/.*).+ run-them-all false

fix: dd setting.json
  .vscode/settings.json
Due: run-them-all=false

fix: trigger consumer build
  packages/consumer/pages/_app.tsx
Due: project-one

fix: update workflow name
  .circleci/continue-config.yml
Due: run-them-all=false

fix: should trigger package two build
  packages/owner/withPrivateRoute.tsx
Due: project-two

fix: sync config with develop
  .circleci/config.yml
  .circleci/continue-config.yml
Due: run-them-all=false

fix: trigger package
  packages/shared/src/locales/ja/translation.json
Due: run-them-all=false

fix: update fix trigger
  .circleci/continue-config.yml
Due: run-them-all=false
